@{
    ViewBag.Title = "Menu I";
}

@section Scripts{
    <script type="text/javascript">
        $('#mn-ii').addClass('active').parents('li').addClass('active open');
    </script>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>